<div class="module__content">    
    <div class="media-list__item"> 
     <div class="media-item"> 
        <div class="media__image">
            <img src="https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/3F07/production/_106053161_diogo_jota_getty.jpg" class="image-replace" alt="Diogo Jota" data-src="https://ichef.bbc.co.uk/wwhp/{width}/cpsprodpb/3F07/production/_106053161_diogo_jota_getty.jpg" width="624">
        </div>

        <div class="media__content">
            <h3 class="media__title">
                <a class="media__link" href="/sport/football/47505052" rev="hero1|headline">
                    Wolves beat Man Utd in FA Cup quarters   
                </a>
            </h3>
            <p class="media__summary">
                Wolves produce an outstanding second-half performance to overpower Manchester 
                United and reach their first FA Cup semi-final for 21 years at a raucous Molineux.                                                    
            </p>         
            <a class="media__tag tag tag--sport" href="/sport/football" rev="hero1|source">Football</a>
        </div>
    </div>
  </div>
      <div class="media-list__item"> 
     <div class="media-item"> 
        <div class="media__image">
            <img src="https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/3F07/production/_106053161_diogo_jota_getty.jpg" class="image-replace" alt="Diogo Jota" data-src="https://ichef.bbc.co.uk/wwhp/{width}/cpsprodpb/3F07/production/_106053161_diogo_jota_getty.jpg" width="624">
        </div>

        <div class="media__content">
            <h3 class="media__title">
                <a class="media__link" href="/sport/football/47505052" rev="hero1|headline">
                    Wolves beat Man Utd in FA Cup quarters   
                </a>
            </h3>
            <p class="media__summary">
                Wolves produce an outstanding second-half performance to overpower Manchester 
                United and reach their first FA Cup semi-final for 21 years at a raucous Molineux.                                                    
            </p>         
            <a class="media__tag tag tag--sport" href="/sport/football" rev="hero1|source">Football</a>
        </div>
    </div>
  </div>
      <div class="media-list__item"> 
     <div class="media-item"> 
        <div class="media__image">
            <img src="https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/3F07/production/_106053161_diogo_jota_getty.jpg" class="image-replace" alt="Diogo Jota" data-src="https://ichef.bbc.co.uk/wwhp/{width}/cpsprodpb/3F07/production/_106053161_diogo_jota_getty.jpg" width="624">
        </div>

        <div class="media__content">
            <h3 class="media__title">
                <a class="media__link" href="/sport/football/47505052" rev="hero1|headline">
                    Wolves beat Man Utd in FA Cup quarters   
                </a>
            </h3>
            <p class="media__summary">
                Wolves produce an outstanding second-half performance to overpower Manchester 
                United and reach their first FA Cup semi-final for 21 years at a raucous Molineux.                                                    
            </p>         
            <a class="media__tag tag tag--sport" href="/sport/football" rev="hero1|source">Football</a>
        </div>
    </div>
  </div>
      <div class="media-list__item"> 
     <div class="media-item"> 
        <div class="media__image">
            <img src="https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/3F07/production/_106053161_diogo_jota_getty.jpg" class="image-replace" alt="Diogo Jota" data-src="https://ichef.bbc.co.uk/wwhp/{width}/cpsprodpb/3F07/production/_106053161_diogo_jota_getty.jpg" width="624">
        </div>

        <div class="media__content">
            <h3 class="media__title">
                <a class="media__link" href="/sport/football/47505052" rev="hero1|headline">
                    Wolves beat Man Utd in FA Cup quarters   
                </a>
            </h3>
            <p class="media__summary">
                Wolves produce an outstanding second-half performance to overpower Manchester 
                United and reach their first FA Cup semi-final for 21 years at a raucous Molineux.                                                    
            </p>         
            <a class="media__tag tag tag--sport" href="/sport/football" rev="hero1|source">Football</a>
        </div>
    </div>
  </div>
      <div class="media-list__item"> 
     <div class="media-item"> 
        <div class="media__image">
            <img src="https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/3F07/production/_106053161_diogo_jota_getty.jpg" class="image-replace" alt="Diogo Jota" data-src="https://ichef.bbc.co.uk/wwhp/{width}/cpsprodpb/3F07/production/_106053161_diogo_jota_getty.jpg" width="624">
        </div>

        <div class="media__content">
            <h3 class="media__title">
                <a class="media__link" href="/sport/football/47505052" rev="hero1|headline">
                    Wolves beat Man Utd in FA Cup quarters   
                </a>
            </h3>
            <p class="media__summary">
                Wolves produce an outstanding second-half performance to overpower Manchester 
                United and reach their first FA Cup semi-final for 21 years at a raucous Molineux.                                                    
            </p>         
            <a class="media__tag tag tag--sport" href="/sport/football" rev="hero1|source">Football</a>
        </div>
    </div>
  </div>
</div>   
     <style>
      
    .media-list {
        width: 100%
    }

     .media-list__item { 
     width: 25%;
     min-width: 400px;
     float:left;
     overflow: hidden;
     box-sizing: border-box;
     }
         
     .media-list__item:first-child {
     width: 50%;
      min-width: 768px;
     }
     
    .media-item { 
     width: 100%;
     padding: 0 12.5%
     }
     
     .media__image {
        width: 100%; 
        overflow: hidden; 
    }
    
    .media__image img {
        width: 100%; 
                position: static; 
                top: 0; 
    }

    .media__content  {
        position: fixed; 
        bottom: 0; left: 0 ;
        z-index: 3;
     </style>