
.contentloader .easyformForm {
	background: #EEE;
	padding-top: 2em;
	padding-bottom: 2em;
}

.contentloader .documentFirstHeading {
	border-bottom: 0px hidden;
}
.contentloader #content {
	padding-top: 2em;
	padding-left: 15px;
	padding-right:15px;
	padding-bottom: bottom: 2em;;
	margin-left: -30px;
	margin-right: -30px;;
	margin-bottom: 2em;
	background: whitesmoke;
}

.contentloader .roundbutton {
  padding: 1em 2em;
  border-radius: 2em;
  display:  block;
  margin:  1em auto;
}

