/* @override 
	http://fender.medialog.no/bedrift/fender-marine/++theme++dutchestheme/css/featurestwo.css
	http://fender.medialog.no/bedrift/++theme++dutchestheme/css/featurestwo.css
	http://fender.medialog.no/bedrift/forsikring/++theme++dutchestheme/css/featurestwo.css
*/

.features {
  background: #f2f2f2;
  padding: 20px;
}



#fragment-features i.fa {
	background-size: cover;
}

.center {
    text-align: center;
 	
}
  
.features .feature-items {
 display: flex;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom:  1em;
}


.features .feature {
	margin-top:  20px !important;
	min-width: 300px;
	max-width: 100%;
	width: 30%;
}


.features .feature-wrap {
	
  margin-bottom: 15px;
  overflow: hidden;
  width: 100%
 
}

.features .feature-wrap h2 {
  margin-top: 10px;
   font-size: 24px;
	text-transform: uppercase;
}

.features .feature-wrap h4{
  margin-top: 1px;
  padding-top: 0;
  padding-left: 88px;
}

.features .feature-wrap .pull-left {
  margin-right: 25px;
}

.features .feature-wrap i {
  font-size: 38px;
  height: 60px;
  width: 60px;
  margin: 6px 3px;
  border-radius: 100%;
  line-height: 60px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: inset 0 0 0 2px #f2f2f2;
  -webkit-box-shadow: inset 0 0 0 2px #f2f2f2;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  float: left;
  margin-right: 25px;
  font-weight: normal;
  font-style: normal !important;
}

.features .feature-wrap i:hover {
  background: #000;
  color: #fff;
  box-shadow: inset 0 0 0 2px #cf3c2a;
  -webkit-box-shadow: inset 0 0 0 2px #000;
  border: 1px solid white;
   
}

.features .feature-wrap  a:hover{
   text-decoration: none;
 
}


.features2 .center {
	text-align: center;
}
 
.features2 {
  background: #f9f9f9;
  padding-top: 20px;
  padding-bottom: 40px;
  width:  300%;
  margin-left:  -100%;
  margin-right:  -100%;
  padding-left: 100%;
  padding-right: 100%; 
 }

.features2 .feature-items {
 display: flex;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom:  1em;
}

 
.features2 .feature  i {
	font-size: 2.5em;
}


.features2 .feature {
	min-width: 270px;
	max-width: 100%;
	width: 30%;
	margin: auto;

}

.features2 .features {
  padding: 0;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-between;
  
}

.features2 .feature-wrap {
  margin-bottom: 35px;
  overflow: hidden;
  width: 100%;
  text-align: center;
 
}

.features2 .feature-wrap h2 {
  margin-top: 10px;
}

.features2 .feature-wrap h4 {
  font-size: 100%;
  line-height: 150%;
}


.features2 .feature-wrap i {
  font-size: 48px;
  height: 110px;
  width: 110px;
  margin: 3px auto;
  border-radius: 100%;
  line-height: 110px;
  text-align: center;
  background: #ffffff;
  border: 3px solid #ffffff;
  box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  font-weight: normal;
  font-style: normal !important;
}

.features2 .feature-wrap i:hover {
  background: #555;
  color: #fff;
  box-shadow: inset 0 0 0 5px #000;
  -webkit-box-shadow: inset 0 0 0 5px #000;
  border: 3px solid #333;
}

section#fragment-features.arrows h1,
section#fragment-features.arrows h2 {
 	text-align: center;
	color:  white;
	
}

section#fragment-features.arrows a * {
	text-decoration: none !important;
}

section#fragment-features.arrows h2 {
	text-transform: uppercase;
}

section#fragment-features.arrows  h1{
	font-size: 2em;
 
}

 
section#fragment-features.arrows a h2{
	font-size: 1.6em;
 
} 

section#fragment-features.arrows  {
	background-color: #005985;
	padding: 40px;
	color:  white;
}

section#fragment-features.arrows .container {
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
 
}

section#fragment-features.arrows .feature {
	width: 26%;
	margin:  2%;
 	min-width: 300px;;
 	max-width: 100%;
 	text-align: center;
}

#fragment-features.arrows div.feature-wrap.fa {
	width: 100%; 
}


#fragment-features.arrows a > i.fa {
	background-size:contain;
	background-position: top center;
	width:100%;
	height:  250px;
	background-repeat: no-repeat;
	
}

.arrows i.fa.fa-chevron-right.round-box {
	border-radius: 50%;
	background: #d9291c;
	width: 1.4em;
	height:  1.4em ;
	margin-left: 0.4em;
}
