// Barceloneta overrides


// Typography
$headings-color:                           green;


// Navbar
//main backgourn
$navbar-barceloneta-background:             rgb(18,52,86);
//navbar text
$navbar-barceloneta-color:                  rgb(255,248,220);
//selected text
$navbar-barceloneta-active-color:           whitesmoke;

// selected background
$navbar-barceloneta-active-background:      #123456;

// Hover and selected color
//$navbar-barceloneta-hover-color:            purple;

//// hover background color
$navbar-barceloneta-hover-background:        rgba(18,52,86, 0.7);
